<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
  <%- messages() %>
  
  <% if (errors) { %>
   <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <%  }) %>
  </ul>
  <% } %>
  
  <div class="addInventory">
    <form id="updateForm" action="/inv/update" method="post">
      <p class="inputFieldInfo">Field is required.</p>
  
      <div class="inputField">
        <label for="invMake"> Make </label>
        <input
          type="text"
          name="inv_make"
          id="invMake"
          pattern=".{3,}"
          placeholder="Min of 3 characters"
          required
          value="<%= inv_make %>"
        />
      </div>
  
      <div class="inputField">
        <label for="invModel"> Model </label>
        <input
          type="text"
          name="inv_model"
          id="invModel"
          pattern=".{3,}"
          placeholder="Min of 3 characters"
          required
          value="<%= inv_model %>"
        />
      </div>

      <div class="inputField">
        <label for="invYear"> Year </label>
        <input
          type="text"
          name="inv_year"
          id="invYear"
          placeholder="4-digit year"
          pattern="[0-9]{4}"
          required
          value="<%= inv_year %>"
        />
      </div>
  
      <div class="inputField">
        <label for="invDescription">Description</label>
        <textarea
          name="inv_description"
          id="invDescription"
          rows="4"
          cols="50"
          maxlength="100"
          required
          placeholder="Describe your car here ..."
        ><%= inv_description %></textarea>
      </div>
  
      <div class="inputField">
        <label for="invImage"> Image Path </label>
        <input
          type="text"
          name="inv_image"
          id="invImage"
          required
          value="/images/vehicles/no-image.png"
        />
      </div>
  
      <div class="inputField">
        <label for="invThumbnail"> Thumbnail Path </label>
        <input
          type="text"
          name="inv_thumbnail"
          id="invThumbnail"
          required
          value="/images/vehicles/no-image.png"
        />
      </div>
  
      <div class="inputField">
        <label for="invPrice"> Price </label>
        <input
          type="text"
          name="inv_price"
          id="invPrice"
          placeholder="Decimal or integer"
          pattern="^([0-9\.]*$)"
          required
          value="<%= inv_price %>"
        />
      </div>
  
      <div class="inputField">
        <label for="invMiles"> Miles </label>
        <input
          type="text"
          name="inv_miles"
          id="invMiles"
          placeholder="Digits only"
          pattern="[0-9]+"
          required
          value="<%= inv_miles %>"
        />
      </div>
  
      <div class="inputField">
        <label for="invColor"> Color </label>
        <input
          type="text"
          name="inv_color"
          id="invColor"
          pattern="[a-zA-Z]+"
          required
          value="<%= inv_color %>"
        />
      </div>

      <div class="inputField">
        <label for="classificationId"> Classification </label>
          <%- options %>
      </div>

      <button type="submit" disabled>Update Vehicle</button>
      <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>

    </form>
  </div>

  <script src="../../js/inv-update.js"></script>